<li><a href="{{ site.bbs_core }}introduction.html" class="otherLinkColour">Introduction</a></li>

<li><a style="cursor:pointer;color:#3c3c3c">App Guide</a>
    <ul>
        <li><a href="{{ site.bbs_app }}guide/first-scan.html" class="otherLinkColour">Start Your First Scan</a> </li>
        <li><a href="{{ site.bbs_app }}guide/three-scanning-modes.html" class="otherLinkColour">Three Scanning Modes</a></li>
        <li><a href="{{ site.bbs_app }}guide/customization.html" class="otherLinkColour">Get Your Scanner Customized</a></li>
        <li><a href="{{ site.bbs_app }}guide/troubleshooting.html" class="otherLinkColour">Troubleshooting</a></li>
    </ul>
</li>
<li><a href="{{ site.bbs_parameters }}" class="otherLinkColour">Parameters</a>
    <ul>
        <li><a href="{{ site.bbs_parameters }}camera-and-ui-settings.html" class="otherLinkColour">Camera and UI Template</a></li>
        <li><a href="{{ site.bbs_parameters }}batch-scan-settings.html" class="otherLinkColour">Batch Scan Template</a></li>
        <li><a target="_blank" href="https://www.dynamsoft.com/barcode-reader/docs/core/parameters/structure-and-interfaces-of-parameters.html" class="otherLinkColour">Capture Vision Template</a></li>
    </ul>
</li>
<li><a style="cursor:pointer;color:#3c3c3c">Release Notes</a>
     <ul>
         <li><a href="{{ site.bbs_app }}release-notes/ios.html" class="otherLinkColour">iOS App</a></li>
         <li><a href="{{ site.bbs_app }}release-notes/android.html" class="otherLinkColour">Android App</a></li>
     </ul>
</li>
