<li lang="javascript" class="category">DEVELOPMENT</li>


<li lang="javascript" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="javascript" >
        <li lang="javascript" ><a href="{{ site.bbs_js }}guide/build-your-app.html" class="otherLinkColour">Build your first APP</a> </li>
        <li lang="javascript" ><a style="cursor:pointer;color:#3c3c3c">Operation Manual</a>
            <ul lang="javascript" >
                <li lang="javascript" ><a href="{{ site.bbs_js }}guide/manual.html" class="otherLinkColour">Get Start to use APP</a> </li>
                <li lang="javascript" ><a href="{{ site.bbs_js }}guide/manual.html" class="otherLinkColour">Detailed Operation Instructions</a></li>
            </ul>
        </li>
        <li lang="javascript" ><a class="otherLinkColour">Configure Batch Barcode Scanner</a></li>
    </ul>
</li>

<li lang="javascript"><a class="otherLinkColour">Demo &amp; Samples</a></li>


<li lang="javascript"><a href="{{ site.bbs_js_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="javascript">
        <li lang="javascript"><a>Classes</a>
            <ul lang="javascript">
                <li lang="javascript"><a href="{{ site.bbs_js_api }}batch-barcode-scanner-view-controller.html" class="otherLinkColour">BatchBarcodeScannerViewController</a></li>
                <li lang="javascript"><a href="{{ site.bbs_js_api }}batch-barcode-scanner-config.html" class="otherLinkColour">BatchBarcodeScannerConfig</a></li>
            </ul>
        </li>
    </ul>
</li>
