<li lang="objectivec-swift" class="category">DEVELOPMENT</li>


<li lang="objectivec-swift" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="objectivec-swift" >
        <li lang="objectivec-swift" ><a href="{{ site.bbs_ios }}guide/build-your-app.html" class="otherLinkColour">Build your first APP</a> </li>
        <li lang="objectivec-swift" ><a style="cursor:pointer;color:#3c3c3c">Operation Manual</a>
            <ul lang="objectivec-swift" >
                <li lang="objectivec-swift" ><a href="{{ site.bbs_core }}how-to-use.html" class="otherLinkColour">Get Start to use APP</a> </li>
                <li lang="objectivec-swift" ><a href="{{ site.bbs_ios }}guide/manual.html" class="otherLinkColour">Detailed Operation Instructions</a></li>
                <li lang="objectivec-swift" ><a href="{{ site.bbs_ios }}guide/possible-errors.html" class="otherLinkColour">Possible Errors</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift" ><a class="otherLinkColour">Configure Batch Barcode Scanner</a></li>
    </ul>
</li>


<li lang="objectivec-swift"><a class="otherLinkColour">Demo &amp; Samples</a></li>


<li lang="objectivec-swift"><a href="{{ site.bbs_ios_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a>Classes</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.bbs_ios_api }}batch-barcode-scanner-view-controller.html" class="otherLinkColour">BatchBarcodeScannerViewController</a></li>
                <li lang="objectivec-swift"><a href="{{ site.bbs_ios_api }}batch-barcode-scanner-config.html" class="otherLinkColour">BatchBarcodeScannerConfig</a></li>
            </ul>
        </li>
    </ul>
</li>
